<ion-header>
    <ion-navbar>
      <ion-title>Escoger número de participantes</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="contenido">
    <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
   
      <ion-item class="formulario">
        <ion-input formControlName="participantes" type="text" placeholder="Participantes" [(ngModel)]="participantes"></ion-input>
      </ion-item>
  
      <!-->Manejo de error<-->
      <ion-item *ngIf="myForm.get('participantes').errors && myForm.get('participantes').dirty">
        <p color="danger" ion-text *ngIf="myForm.get('participantes').hasError('required')">El número de participantes es requerido</p>
        <p color="danger" ion-text *ngIf="myForm.get('participantes').hasError('pattern')">No es un número</p>
      </ion-item>
  
      <button ion-button block type="submit" [disabled]="myForm.invalid" (click)="pasarNombre()">Continuar</button>
  
    </form>
  </ion-content>