<ion-header>
  <ion-navbar>
    <ion-title>Escoger número de participantes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="contenido">
  <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
    <ion-item>
      <ion-label>¿Cuántos?</ion-label>
        <ion-select formControlName="participantes" placeholder="Seleccionar participantes" [(ngModel)]="participantes">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="8">8</ion-option>
          <ion-option value="9">9</ion-option>
          <ion-option value="10">10</ion-option>
        </ion-select>
    </ion-item>

    <!-->Manejo de error<-->
    <ion-item *ngIf="myForm.get('participantes').errors && myForm.get('participantes').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('participantes').hasError('required')">El número de participantes es requerido</p>
    </ion-item>

    <ion-item>
        {{ myForm.get('participantes').value }}
    </ion-item>

    <button ion-button block type="submit" [disabled]="myForm.invalid" (click)="pasarNombre()">Continuar</button>

  </form>
</ion-content>
