page-acerca {
    .contenido {
        background-image: url("../assets/img/fondo_app.jpg");
    }
    .lista {
        background-color: transparent;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }
    .item {
        background-color: transparent;
    }
}