<ion-header>
  <ion-navbar>
    <ion-title>Escoger día</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="contenido">
  <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
        
    <ion-item class="formulario">
      <ion-label>¿Cuándo?</ion-label>  
      <ion-select formControlName="dia" [(ngModel)]="dia">
        <ion-option *ngFor="let fecha of fechas |  async"  value="{{ fecha }}">{{ fecha }}</ion-option>
      </ion-select>
    </ion-item>
  
    <!-->Manejo de error<-->
    <ion-item *ngIf="myForm.get('dia').errors && myForm.get('dia').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('dia').hasError('required')">El día es requerido</p>
    </ion-item>
 
    <button ion-button block type="submit" [disabled]="myForm.invalid" (click)="pasarHorario()">Continuar</button>
    </form>
</ion-content>
