page-informacion {
    .contenido {
        background-image: url("../assets/img/fondo_app.jpg");
    }
    .card {
        background-image: url("../assets/img/fondo_app.jpg");
    }
    .item {
        background-color: transparent;
    }
    .item-error {
        color: #f53d3d;
    }
    .item-valido {
        color: #8CC63F;
    }
    .nota {
        text-decoration-color: black;
    }
    .lista {
        // background-image: url("../assets/img/fondo_app.jpg");
        background-color: transparent;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }
    .calendario {
        color: #00A5D9;
    }
    .reloj {
        color: orangered;
    }
    .ubicacion {
        color: #8CC63F;
    }
    .planilla {
        color: gray;
    }
    .valido {
        color: #8CC63F;
    }
    .invalido {
        color: red;
    }
}