<ion-header>
  <ion-navbar>
    <ion-title>Escoger horario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>

    <ion-item>
      <ion-label>¿A qué horas?</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="horario" [(ngModel)]="horario"></ion-datetime>
    </ion-item>

    <!-->Manejo de error<-->
    <ion-item *ngIf="myForm.get('horario').errors && myForm.get('horario').dirty">
        <p color="danger" ion-text *ngIf="myForm.get('horario').hasError('required')">El horario es requerido</p>
    </ion-item>

    <ion-item>
        {{ myForm.get('horario').value }}
    </ion-item>

    <button ion-button block type="submit" [disabled]="myForm.invalid" (click)="pasarParticipantes()">Continuar</button>
  </form>
</ion-content>
