page-horario {
    
    .contenido{
        background-image: url("../assets/img/fondo_horario.jpg");
        background-position-x: 50%;
        background-position-y: 40px;
        background-size: cover;    
    }

    .formulario{
        margin-top: 60%;
    }    

}
