page-nombre {

    .contenido{
        background-image: url("../assets/img/fondo_login.jpg");
        background-position-x: 50%;
        background-position-y: 40px;
        background-size: cover;    
    }

    .formulario{
        margin-top: 60%;
    }        
    
}
