page-deporte {

    .contenido{
        background-image: url("../assets/img/fondo_deporte2.jpg");
        background-position-x: 50%;
        background-position-y: 40px;
        background-size: cover;    
    }

    .formulario{
        margin-top: 60%;
    }

    .boton{
       // margin-top: 75%;
    }
}
